
.col--orange{
  background-color: #ff9f80;
}

.col--yellow{
  background-color: #effab4;
}


.h1--size{
  font-size: 3.1rem;
}

.h1--color{
  color: #363636;
}

.star--unchecked{
  opacity: .3;
}

@media only screen and (max-width: 780px){
  .list-inline-item{
    font-size: 2.1rem;
  };
}
